.inputFieldStyle{
    border: none;
    background-color: #364671;
    text-underline-position: under;
    width: 100px;
    font-size: 13px;
    height: 27px;
    border-radius: 2px;
    text-align: center;
}
::-webkit-input-placeholder {
    color: white;
}